.modal-open{
    display: flex !important; 
}
#modal{
    display: none;
    flex-direction: column;
    
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    background-color: rgba(227, 227, 227, 0.936);
    width: 60%;
    height: 400px;
    
    align-items: center;
    border-radius: 20px;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 3px;
}

.titulo{
    padding: 15px 0px;
    display:flex;
    justify-content: center;
    font-size: 30px;
    background-color: rgb(71, 108, 239);
    width: 100%;
    color: white;
    border-radius: 20px 20px 0px 0px;
}
.buttonClose{
    right: -15px;
    top: -15px;
    background-color: rgba(224, 55, 55, 0.834);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: white;
    text-align: center;
    font-size: 15px;   
    position:absolute;
    font-family: Arial, Helvetica, sans-serif; 
    cursor:pointer;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.pontuacao-modal{
    padding-top: 3px;
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
    background-color:rgb(24, 154, 194);
    border: 5px solid rgb(71, 108, 239);
    border-radius: 20px;
    min-width: 300px;
    min-height: 40px;
}

.score{
    margin-top: 40px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    color: #fff;
    
}
.tempo{
    padding-top: 3px;
    min-width: 300px;
    min-height: 40px;
    font-size: 16px; 
    margin-top: 20px;
    background-color:rgb(24, 154, 194);
    border: 5px solid rgb(71, 108, 239);
    border-radius: 20px;
    text-align: center;
    align-items:center;
}


.buttonNext {
    align-items: center;
    appearance: none;
    background-color: rgba(102, 195, 44, 0.9);
    border-radius: 4px;
    border-width: 0;
    
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    width: 100%;
    min-width: 200px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .30s,transform .30s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 16px;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#347c2c 0 -3px 0 inset;
  }
  
  .buttonNext:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  }
  
  .buttonNext:hover{
      border: 1px solid rgb(0, 0, 0)
  }
  
  .buttonNext:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
  }

  .buttonModal-container{
    margin-top: 40px;  
    display: flex;
    width: 80%; 
  }
  .nextLevel{
      margin-left: 20px;
  }
  